<!-- footer section start -->
<footer class="footer-bg">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="footer-logo">
                    <img src="assets/img/logo/99city.png">
                </div>
                <div class="footer-content">
                    <h3>About 99citycabs</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry.</p>
                    <h6>Contact Us</h6>
                    <ul>
                        <li><a href="#"><i class="fa fa-phone"></i>+91-9999269722</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i>info@99citycabs.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="footer-content mt-50px">
                    <h6>Information</h6>
                    <ul class="footer-link">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">More Search</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact US</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="footer-content mt-50px">
                    <h6>Helpfull Links</h6>
                    <ul class="footer-link">
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Term & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-content mt-50px">
                    <h6 class="font-17px mt-35px mb-15px">Subscribe More Info</h6>
                    <form class="example" action="action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                    </form>
                    <a href="#" class="subscribe">SUBSCRIBE</a>
                </div>
            </div>
        </div>
    </div>
</footer>