<!-- booking section start -->
<section class="pt-100px pb-100px booking-bg">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-5">
                <div class="booking-box">
                    <header>
                        <h3>Book a <span>City cab</span></h3>
                    </header>
                    <div class="booking-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Hatchback</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Sedan</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">Luxury</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">Sub</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <form action="#" class="custom-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Picup" id="Picup">
                                        <label for="Picup" class="animated-label">Picup</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Drop" id="Drop"
                                            ng-model="passWord" />
                                        <label for="Drop" class="animated-label">Drop</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="When" id="When"
                                            ng-model="passWord" />
                                        <label for="When" class="animated-label">When</label>
                                    </div>
                                    <div class="submit">
                                        <button class="btn btn-primary btn-block" disabled>confirm</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <form action="#" class="custom-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Picup" id="Picup">
                                        <label for="Picup" class="animated-label">Picup</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Drop" id="Drop"
                                            ng-model="passWord" />
                                        <label for="Drop" class="animated-label">Drop</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="When" id="When"
                                            ng-model="passWord" />
                                        <label for="When" class="animated-label">When</label>
                                    </div>
                                    <div class="submit">
                                        <button class="btn btn-primary btn-block" disabled>confirm</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <form action="#" class="custom-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Picup" id="Picup">
                                        <label for="Picup" class="animated-label">Picup</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Drop" id="Drop"
                                            ng-model="passWord" />
                                        <label for="Drop" class="animated-label">Drop</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="When" id="When"
                                            ng-model="passWord" />
                                        <label for="When" class="animated-label">When</label>
                                    </div>
                                    <div class="submit">
                                        <button class="btn btn-primary btn-block" disabled>confirm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="booking-content">
                    <h5>Best in service</h5>
                    <h1>City cabs provides <br> best service in india.</h1>
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                        demonstrate the visual form of a document or a typeface without relying on meaningful
                        content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services section start -->
<section class="pt-100px pb-100px">
   <app-service-slider></app-service-slider>
</section>
<!-- for need section start -->
<section class="pt-100px pb-100px need-bg">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center heading1">
                    <h1>Car For Every Needs</h1>
                    <p>Select your taxi range & enjoy your ride happily</p>
                </div>
            </div>
        </div>
        <div class="need-box">
            <div class="need-content">
                <ul>
                    <li><a href="#"><span><img src="assets/img/icon/gps.png"></span></a></li>
                    <li><a href="#">
                            <h5>CITY TAXI</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry.</p>
                        </a></li>
                </ul>
            </div>
            <div class="need-content">
                <ul>
                    <li><a href="#"><span><img src="assets/img/icon/icon.png"></span></a></li>
                    <li><a href="#">
                            <h5>OUTSTATION TAXI</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry.</p>
                        </a></li>
                </ul>
            </div>
            <div class="need-content">
                <ul>
                    <li><a href="#"><span><img src="assets/img/icon/time.png"></span></a></li>
                    <li><a href="#">
                            <h5>HOURLEY TAXI</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry.</p>
                        </a></li>
                </ul>
            </div>
            <div class="need-content">
                <ul>
                    <li><a href="#"><span><img src="assets/img/icon/plan.png"></span></a></li>
                    <li><a href="#">
                            <h5>AIRPORT TAXI</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry.</p>
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center need-more">
                    <a href="#">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- download section start -->
<section class="pb-100px download-bg">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="download">
                    <h5>Download Now</h5>
                    <h1>Download Best<br><span>Download Best</span></h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an typesetting industry.
                    </p>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img">
                    <img src="assets/img/mobile.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-100px pb-100px testimonial-bg">
   <app-testimonial-slider></app-testimonial-slider>
</section>
<section class="call-bg">
    <div class="wrapper">
        <div class="text-center">
            <h3>Our All Services 24x7 Available</h3>
            <h1>Call: 0120-45900 0000</h1>
        </div>
    </div>
</section>
