<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center heading1">
                <p>Happy Client’s</p>
                <h1>Testimonials</h1>
            </div>
        </div>
    </div>
    <carousel [cellsToShow]="currentScreenSize" [height]="450">
        <div class="carousel-cell">
            <div class="testimonial-box">
                <ul>
                    <li><a href="#"><img src="assets/img/testi1.png"></a></li>
                    <li>
                        <a href="#">
                            <h1>Sunil Kumar</h1>
                            <p>CEO of April india</p>
                        </a>
                    </li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been industry's standard dummy text ever since.</p>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="testimonial-box">
                <ul>
                    <li><a href="#"><img src="assets/img/testi2.png"></a></li>
                    <li>
                        <a href="#">
                            <h1>Rekha Rani</h1>
                            <p>Head of cosmatic</p>
                        </a>
                    </li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been industry's standard dummy text ever since.</p>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="testimonial-box">
                <ul>
                    <li><a href="#"><img src="assets/img/testi1.png"></a></li>
                    <li>
                        <a href="#">
                            <h1>Sunil Kumar</h1>
                            <p>CEO of April india</p>
                        </a>
                    </li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been industry's standard dummy text ever since.</p>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="testimonial-box">
                <ul>
                    <li><a href="#"><img src="assets/img/testi2.png"></a></li>
                    <li>
                        <a href="#">
                            <h1>Rekha Rani</h1>
                            <p>Head of cosmatic</p>
                        </a>
                    </li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been industry's standard dummy text ever since.</p>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="testimonial-box">
                <ul>
                    <li><a href="#"><img src="assets/img/testi1.png"></a></li>
                    <li>
                        <a href="#">
                            <h1>Sunil Kumar</h1>
                            <p>CEO of April india</p>
                        </a>
                    </li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been industry's standard dummy text ever since.</p>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="testimonial-box">
                <ul>
                    <li><a href="#"><img src="assets/img/testi2.png"></a></li>
                    <li>
                        <a href="#">
                            <h1>Rekha Rani</h1>
                            <p>Head of cosmatic</p>
                        </a>
                    </li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been industry's standard dummy text ever since.</p>
            </div>
        </div>
    </carousel>
</div>