<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center heading">
                <h1>Our <span>Taxi Services
                  
                </span></h1>
                <p>Select your taxi range & enjoy your ride happily</p>
            </div>
        </div>
    </div>
    <carousel class="carousel-html-content" [cellsToShow]="currentScreenSize" [height]="450">
        <div class="carousel-cell">
            <div class="service-box">
                <div class="img">
                    <img src="assets/img/taxi.png">
                </div>
                <div class="content">
                    <h5>Hatchback</h5>
                    <p>Select your taxi range & enjoy your ride with great offer. Book any time.</p>
                    <h3>Rs. 9/km</h3>
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="service-box">
                <div class="img">
                    <img src="assets/img/taxi.png">
                </div>
                <div class="content">
                    <h5>Hatchback</h5>
                    <p>Select your taxi range & enjoy your ride with great offer. Book any time.</p>
                    <h3>Rs. 9/km</h3>
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="service-box">
                <div class="img">
                    <img src="assets/img/taxi.png">
                </div>
                <div class="content">
                    <h5>Hatchback</h5>
                    <p>Select your taxi range & enjoy your ride with great offer. Book any time.</p>
                    <h3>Rs. 9/km</h3>
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="service-box">
                <div class="img">
                    <img src="assets/img/taxi.png">
                </div>
                <div class="content">
                    <h5>Hatchback</h5>
                    <p>Select your taxi range & enjoy your ride with great offer. Book any time.</p>
                    <h3>Rs. 9/km</h3>
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="service-box">
                <div class="img">
                    <img src="assets/img/taxi.png">
                </div>
                <div class="content">
                    <h5>Hatchback</h5>
                    <p>Select your taxi range & enjoy your ride with great offer. Book any time.</p>
                    <h3>Rs. 9/km</h3>
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="service-box">
                <div class="img">
                    <img src="assets/img/taxi.png">
                </div>
                <div class="content">
                    <h5>Hatchback</h5>
                    <p>Select your taxi range & enjoy your ride with great offer. Book any time.</p>
                    <h3>Rs. 9/km</h3>
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="service-box">
                <div class="img">
                    <img src="assets/img/taxi.png">
                </div>
                <div class="content">
                    <h5>Hatchback</h5>
                    <p>Select your taxi range & enjoy your ride with great offer. Book any time.</p>
                    <h3>Rs. 9/km</h3>
                    <a href="#">Book Now</a>
                </div>
            </div>
        </div>
    </carousel>
</div>